table {
    border-collapse: collapse;
    width: 25%;
}

table  td {
    border: 4px solid black;
    height: 30px; /* גובה מינימלי כדי שנראה את התא */
    
}

table img{
    width: 100px;
    height: 110px;
}